<!DOCTYPE html>
<html lang="en"  xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${user.getFirstName() + ' profile edit'}"></title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id = ${user.getId()})}" th:object="${user}">
  <label for="firstname">Enter firstname: </label>
  <input type="text" th:field="*{firstName}" id="firstname">
  <br>
  <label for="lastname">Enter lastname: </label>
  <input type="text" th:field="*{lastName}" id="lastname">
  <br>
  <label for="year">Enter year of birth: </label>
  <input type="text" th:field="*{yearOfBirth}" id="year">
  <hr/>
  <input type="submit" value="Save changes">
</form>
</body>
</html>