<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${newUser}">
    <label for="firstname">Enter firstname: </label>
    <input type="text" th:field="*{firstName}" id="firstname">
    <br>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastname">
    <br>
    <label for="year">Enter year of birth: </label>
    <input type="text" th:field="*{yearOfBirth}" id="year">
    <hr/>
    <input type="submit" value="Create">
</form>
</body>
</html>